
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #28bc6b;
    margin: 0;
}

.container {
    background: rgb(207, 57, 57);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #732250;
    border-radius: 5px;
}

.counter {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
